.main {
  margin: 0 10vw;
  font-size: 1.2rem;

  .title {
    font-size: 3.5rem;
    color: #89cff0;
    font-weight: 610;
    margin-bottom: 1.6rem;
  }

  a {
    text-decoration: none;
    color: #89cff0;
    font-weight: 700;
  }

  .small-title {
    font-size: 1.8rem;
    color: #89cff0;
    font-weight: 510;
    margin-top: 1.6rem;
  }

  /* Custom accordion */

  .accordion-button:not(.collapsed) {
    color: black;
    background-color: white;
    font-size: 1.2rem;
  }

  .accordion-button:focus {
    box-shadow: none;
  }

  .accordion-item {
    border: none;
  }

  .accordion-button {
    font-weight: 400;
  }

  /* .accordion-body {
    font-size: 1.2rem;
  } */
}

.back {
  text-decoration: none;
  font-size: 3rem;
  color: #89cff0;
  margin-left: 5vw;
}
