.footer {
  padding: 2vh 4vw !important ;
  background-color: #c6e7f6;
}
.footer-copywright {
  text-align: center !important;
}

.footer-body {
  z-index: 1;
  text-align: center !important;
}

@media (max-width: 767px) {
  .footer-copywright {
    text-align: center !important;
  }

  .footer-body {
    text-align: center !important;
  }
}

.footer h3 {
  font-size: 1em;
  color: black !important;
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
}
