.footer {
  margin-top: 10%;
  padding: 2vh 2vw !important ;
  /* background-color: #f6fcff; */
}
.footer-copywright {
  text-align: center !important;
}

.footer-body {
  z-index: 1;
  text-align: center !important;
}

@media (max-width: 767px) {
  .footer-copywright {
    text-align: center !important;
  }

  .footer-body {
    text-align: center !important;
  }
}

.footer h3 {
  font-size: 0.9rem;
  font-weight: 400;
  color: black !important;
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
}
