body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

#no-scroll {
  overflow: hidden;
  height: 100vh;
}

.App {
  cursor: none;
}

.cursor {
  background-color: rgba(255, 225, 135, 0.7);
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  transform-origin: 100% 100%;
  transform: translate(-50%, -50%);
  position: fixed;
  pointer-events: none;
  z-index: 999;
  transition: width 0.3s, height 0.3s;
}
