/* Research */
.research {
  .title {
    font-size: 3.5rem;
    color: #89cff0;
    font-weight: 610;
  }

  .description {
    margin-bottom: 1rem;
  }

  a {
    text-decoration: none;
    color: #212529;
  }

  .research-item {
    margin: 2rem 0;
    transition: transform 0.3s ease;
    border: 1.2px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    backdrop-filter: blur(1rem);
    padding: 1rem;
  }

  .research-item:hover {
    transform: scale(1.02);
  }

  .col-md-5 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .rimg {
    width: 95%;
  }

  .col-md-7 {
    position: relative;
  }

  .r-link {
    position: absolute;
    top: 0;
    right: 0;
    .none {
      display: none;
    }
  }

  .r-title {
    font-size: 1.4rem;
    font-weight: 410;
    margin-top: 2rem;
  }

  .r-description,
  .r-ao,
  .hstack,
  .r-time {
    margin-top: 1rem;
  }

  .hstack {
    flex-wrap: wrap;
  }
}

/* Failure */
.main {
  margin: 0 10vw;
  font-size: 1.2rem;

  .title {
    font-size: 3.5rem;
    color: #89cff0;
    font-weight: 610;
    margin-bottom: 1.6rem;
  }

  a {
    text-decoration: none;
    color: #89cff0;
    font-weight: 700;
  }

  .small-title {
    font-size: 1.8rem;
    color: #89cff0;
    font-weight: 510;
    margin-top: 1.6rem;
  }

  /* Custom accordion */

  .accordion-button:not(.collapsed) {
    color: black;
    background-color: #89cff0;
  }

  .accordion-button:focus {
    box-shadow: none;
  }

  .accordion-item {
    border: none;
  }

  .accordion-button {
    font-weight: 400;
  }

  .accordion-body {
    font-size: 1rem;
  }
}

.back {
  text-decoration: none;
  font-size: 3rem;
  color: #89cff0;
  margin-left: 5vw;
}
